:root {
    --skin: #f6c09c;
    --background: #ed4042;
    --red: #ed2860;
    --dark-red: #680524;
    --black: #00243a;
    --white: #fff;
  }
  
  body{
    margin: 0;
  }
  
  .container{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
  }
  
  .head{
    background-color: var(--skin);
    border-radius: 100px;
    height: 220px;
    position: relative;
    width: 120px;
  }
  
  .eye-left{
    background: var(--white);
    height: 25px;
    position: absolute;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    top: 60px;
    left: 30px;
    width: 30px;
    z-index: 5;
  }
  
  .eye-right{
    background: var(--white);
    height: 25px;
    position: absolute;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    right: 30px;
    top: 60px;
    width: 30px;
    z-index: 10;
  }
  
  .eye-point-left{
    background: var(--black);
    width: 6px;
    height: 6px;
    position: absolute;
    top: 5px;
    border-radius: 50%;
    left: 11px;
  }
  
  .eye-point-right{
    background: var(--black);
    width: 6px;
    height: 6px;
    position: absolute;
    top: 5px;
    border-radius: 50%;
    right: 11px;
  }
  
  .nose{
    background: var(--skin);
    border-radius: 50%;
    top: 22px;
    left: -20px;
    position: absolute;
    height: 40px;
    width: 40px;
    z-index: 1;
  }
  
  .beard{
    background-color: var(--black);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
    height: 130px;
    position: absolute;
    left: -60px;
    top: 35px;
    width: 120px;
  }