:root {
    --skin: #f6c09c;
    --background: #ed4042;
    --red: #ed2860;
    --dark-red: #680524;
    --black: #00243a;
    --white: #fff;
  }
  
  body{
    margin: 0;
    padding: 0;
    background: var(--background);
  }
  
  .container{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
  }
  
  .head{
    background-color: var(--skin);
    border-radius: 100px;
    height: 220px;
    position: relative;
    width: 120px;
  }
  
  .eye-left{
    background: var(--white);
    height: 25px;
    position: absolute;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    top: 60px;
    left: 30px;
    width: 30px;
    z-index: 5;
  }
  
  .eye-right{
    background: var(--white);
    height: 25px;
    position: absolute;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    right: 30px;
    top: 60px;
    width: 30px;
    z-index: 10;
  }
  
  .eye-point-left{
    background: var(--black);
    width: 6px;
    height: 6px;
    position: absolute;
    top: 5px;
    border-radius: 50%;
    left: 11px;
  }
  
  .eye-point-right{
    background: var(--black);
    width: 6px;
    height: 6px;
    position: absolute;
    top: 5px;
    border-radius: 50%;
    right: 11px;
  }
  
  .nose{
    background: var(--skin);
    border-radius: 50%;
    top: 22px;
    left: -20px;
    position: absolute;
    height: 40px;
    width: 40px;
    z-index: 10;
  }
  
  .beard{
    background-color: var(--black);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
    height: 130px;
    position: absolute;
    left: -60px;
    top: 35px;
    width: 120px;
    z-index: 5;
  }
  
  .neck{
    background: var(--skin);
    height: 80px;
    left: -50px;
    opacity: .8;
    position: absolute;
    top: 100px;
    width: 100px;
    z-index: 1;
  }

  .ear-right{
    background: var(--skin);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 32px;
    opacity: .7;
    position: absolute;
    right: -53px;
    top: 5px;
    width: 28px;
  }

  .ear-left{
    background: var(--skin);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    height: 32px;
    opacity: .7;
    position: absolute;
    left: -83px;
    top: 5px;
    width: 28px;
  }

  .ear-drawing1-right{
    background: var(--red);
    height: 15px;
    right: 12px;
    opacity: .5;
    position: absolute;
    top: 8px;
    transform: rotate(45deg);
    width: 5px;
  }

  .ear-drawing2-right{
    background: var(--red);
    height: 15px;
    right: 12px;
    opacity: .5;
    position: absolute;
    top: 8px;
    transform: rotate(125deg);
    width: 5px;
  }

  .ear-drawing1-left{
    background: var(--red);
    height: 15px;
    left: 12px;
    opacity: .5;
    position: absolute;
    top: 8px;
    transform: rotate(45deg);
    width: 5px;
  }

  .ear-drawing2-left{
    background: var(--red);
    height: 15px;
    left: 12px;
    opacity: .5;
    position: absolute;
    top: 8px;
    transform: rotate(125deg);
    width: 5px;
  }

  .mouth{
    background: var(--dark-red);
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 90%;
    height: 30px;
    position: absolute;
    top: 65px;
    left: -25px;
    width: 50px;
    z-index: 15;
  }

  .teeth{
    background: var(--white);
    border-top-right-radius: 10%;
    border-bottom-right-radius: 40%;
    height: 30%;
    position: absolute;
    width: 75%;
    z-index: 10;
  }

  .tongue{
    border-bottom-left-radius: 30px;
    border-top-right-radius: 5px;
    background: var(--red);
    height: 50%;
    top: 15px;
    position: absolute;
    width: 50%;
  }

  footer{
    align-items: center;
    background: var(--black);
    bottom: 0;
    display: flex;
    height: 50px;
    justify-content: center;
    left: 0;
    position: absolute;
    width: 100vw;
  }

  footer p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--white);
    margin: 0;
  }